@media all and (min-width: 690px){
  .App {
    text-align: center;
  }
  .Card{
    height: 250px;
    width: 350px;
  }
 .imgProduit{
    width: 100%;
    height: 100%;
  }
  .imgProduit:hover {
    background-color: rgb(128, 118, 118);
    background-blend-mode: multiply;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    cursor: pointer;
    }
    .TitreDeProduit{
      text-align: center;
      padding-top: 5%;
    }
    .TitreDeProduit:hover{
      text-align: center;
      padding-top: 5%;
    }
  .DivOfTitle{
    margin-top: 20px;
    height: 109px;
    width: 340px;
    background-color: rgb(255, 255, 255);
  }
  .TextOfDivOfTitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .div-Card-Image{
    overflow: hidden;
    color: rgb(0, 0, 0);
    justify-content: center;
    width: 100%;
    height: 239px;
    font-weight: bolder;
    font-size: 16px;
  }
  .TryProduct{
    padding: 5%;
  }
  .TryProduct:hover{
    padding: 5%;
  }
 
  .div-cards{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
}


@media all and (max-width: 1400px){
  .App {
    text-align: center;
  }
  .Card{
    display: flex;
    height: 250px;
    width: 350px;
  }
  .TitreDeProduit{
    text-align: center;
    padding-top: 5%;
  }
  .TitreDeProduit:hover{
    text-align: center;
    padding-top: 5%;
  }
  .DivOfTitle{
    margin-top: 20px;
    height: 109px;
    width: 345px;
    background-color: rgb(255, 255, 255);
  }
  .TextOfDivOfTitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
 .imgProduit{
    width: 100%;
    height: 100%;
  }
  .imgProduit:hover {
    background-color: rgb(128, 118, 118);
    background-blend-mode: multiply;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
   cursor: pointer;
  }
  .div-Card-Image{
    padding-top: 15%;
    overflow: hidden;
    color: rgb(0, 0, 0);
    text-shadow: 3px black;
    justify-content: center;
    width: 100%;
    height: 239px;
    text-decoration: unset;
  }
  .TryProduct{
    padding: 8%;
  }
  .TryProduct:hover{
    padding: 8%;
  }
    .div-cards{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
}