.BoxContainer {
  display: flex;
  padding: 10%;
}

.legendContactC {
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
}

.StylePol {
  font-family: 'Kaushan Script', cursive;
}

.contactText {
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Contact {
  display: flex;
  flex-direction: column;
}

.ContainerMap {
  position: relative;
}

.Mapping {
  border-radius: 3px;
  width: 40vw;
  height: 605px;
  border: 2px solid #659660;
}

#TextLorem {
  position: relative;
  background-color: #659660;
  padding: 10%;
  text-align: justify;
  height: auto;
  width: 60%;
  border-radius: 3px;
  color: white;
}

.styleText {
  font-family: sans-serif;
}

#legendContact {
  text-align: center;
  margin-bottom: 20%;
}

@media only screen and (max-width:960px) {
  .BoxContainer {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .legendContactC {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Mapping {
    width: 100%;
    height: 550px;
  }
  #TextLorem {
    width: 90%;
  }
  #legendContact {
    margin-bottom: 10%;
  }
}

@media only screen and (max-width:1045px) {
  .legendContactC {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .BoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
  }
  .Mapping {
    width: 90%;
    height: 400px;
  }
  #legendContact {
    margin-bottom: 10%;
  }
  #TextLorem {
    position: relative;
    background-color: #659660;
    margin-bottom: 2%;
    text-align: justify;
    height: auto;
    width: 80%;
    border-radius: 3px;
    color: white;
  }
}