body {
  font-family: 'Kaushan Script', cursive;
}

.BoxContainer {
  padding: 20px 20px 20px 20px;
}

.legendContactC {
  text-decoration: underline;
}

#legendContact {
  text-align: center;
}

.container-contact {
  width: 95vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactText {
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Contact {
  display: flex;
  background-color: #fafafa;
  width: 55%;
}

.ContainerMap {
  position: relative;
  bottom: 205px;
}

.Mapping {
  position: relative;
  top: 140px;
  width: 40vw;
  height: 700px;
  border: 2px solid #659660;
}

.pictureContact {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url('../Images/contact3.jpg');
  background-size: cover;
}

.TextLorem {
  background-color: #659660;
  padding: 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  height: auto;
  width: 80%;
  border-radius: 3px;
  color: white;
}

@media only screen and (max-width: 800px) {
  /*For mobile phones: */
  .container-contact {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .BoxContainer {
    padding: 20px 20px 20px 20px;
  }
  .Contact {
    justify-content: center;
    align-content: center;
    width: 92vw;
    margin-bottom: 180px;
  }
  .div-iframe-contact {
    display: flex;
    justify-content: center;
  }
  .Mapping {
    margin-left: auto;
    margin-right: auto;
    position: unset;
    width: 100vw;
    height: 400px;
  }
  .legendContactC {
    text-align: center;
  }
}