.BoxContainer {
  display: flex;
  padding: 5%;
}

.boxCont {
  display: flex;
  flex-direction: column;
}

.legendContactC {
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
}

.StylePol {
  font-family: 'Kaushan Script', cursive;
}

#legendContact {
  text-align: center;
  margin-bottom: 55%;
}

.contactText {
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Contact {
  display: flex;
  flex-direction: column;
}

.ContainerMap {
  position: relative;
}

.Mapping {
  position: relative;
  border-radius: 3px;
  width: 40vw;
  height: 540px;
  border: 2px solid #659660;
}

#TextLorem {
  background-color: #659660;
  padding: 5%;
  margin-bottom: 2%;
  text-align: justify;
  height: auto;
  width: 80%;
  border-radius: 3px;
  color: white;
}

.styleText {
  font-family: sans-serif;
}

@media only screen and (max-width: 800px) {
  /*For mobile phones: */
  #legendContact {
    text-align: center;
  }
  .container-contact {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .Contact {
    justify-content: center;
    align-content: center;
    width: 92vw;
    margin-bottom: 180px;
  }
  .div-iframe-contact {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .Mapping {
    width: 100%;
    height: 250px;
  }
  .legendContactC {
    text-align: center;
  }
}