	.contenu{
  	height:70px;
    color: white;
font-size:18px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	background-color:#009012;
	}
	.color{
	color:white;
	}
  
  .container2{
    background-color:rgb(0, 0, 0);
    color:rgba(255, 255, 255, 0.986);
    justify-content:space-between;
    padding:0px 38px;

  }
  .container{
						 border-top: 1px solid rgb(0, 0, 0);
			 border-bottom: 1px solid rgb(0, 0, 0);
    background-color:#009012;
    color: white;
		justify-content:space-around;
  }
	.container, .container2{
	height:auto;
	display:flex;
	align-items:center;
	
	}
	.icon.social {
		color:rgb(0, 0, 0);
		cursor: pointer;
		display:flex;
			transition: 0.5s;
		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		 font-size:28px;
	}
	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height:40px;
		width: 40px;
		border-radius: 70%;
		margin-right: 20px;
	}
	.social:hover{
		background-color: white;
  } 
    .container span{
    padding: 5px 20px;
  }

  .container span:hover{
      color:#009012;
      background-color: white;
  }

.alignement{
  display: flex;

}



@media (max-width:600px){
	.container{
		height:auto;
		display:flex;
		flex-direction:column;
		align-items:center;
		}
		.contenu{
		display:flex;
		flex-direction:column;
		align-items:center;
		}

	.container{
		border-top:1px;
		height: auto;
		display: flex;
		/*flex-direction: column;*/
		flex-wrap: wrap;
				padding: 15px;
	}
	.container2{
		display: flex;
		height: auto;
	}
}
