	.contenu{
  	height:30px;
    color: #016837;
	font-size:16px;
	font-family: 'Quicksand', sans-serif;
	display:flex;
	justify-content:space-around;
	align-items:center;
	background-color:#E5E5E5;
	padding:10px 0px;
	}
    .tel-footer{
	padding-bottom:8px;
	}
	.mail-footer{
	margin-bottom:10px;
	}
	.color{
		text-decoration:none;
	color:#016837;
	}
	.foot-link{
	color:#016837;
	text-decoration:none;
	}
	.color-bottom{
		text-decoration:none;
	color:#016837;
	}
  
  .foot-contain2{
	display:flex;
    background-color:#E5E5E5;
    color:#016837;
	justify-content:space-between;
	font-family: 'Quicksand', sans-serif;
	padding:0px 38px;
	font-size:14px;
}
	.foot-contain2{
	display:flex;
	align-items:center;
	
	}
	.icon.social {
		cursor: pointer;
		text-rendering: optimizeLegibility;
		display:flex;
	}
.social-footer{
  background-color:#E5E5E5;
  display: flex;
  justify-content:center;
  padding:8px 0px;
}
.svg-inline--fa{
	color: #016837;
}
.icon-f{
font-size:25px;
padding:0px 8px;
}


@media (max-width:600px){
	.foot-contain{
		height:auto;
		display:flex;
		flex-direction:column;
		align-items:center;
		}
		.contenu{
		display:flex;
		flex-direction:column;
		align-items:center;
		padding-top:20px;
		}

	.foot-contain{
		height: auto;
		display: flex;
		/*flex-direction: column;*/
		flex-wrap: wrap;
	    padding: 15px;
	}
	.color{
	color:#016837;
	position: relative;right:10px;
	position: relative;top:18px;
	}
	.foot-contain2{
		display: flex;
		height: auto;
		font-size:12px;
	}
}
