#TitreLmda{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding-bottom: 2%;
    color: white;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2%;
    margin-top: 0%;
    font-size: 4em;
    font-family: 'Kaushan Script', cursive;
    font-weight: lighter;
  }
  #SousTitreLmda{
    padding-top: 2%;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
  }
  .Jumbo-Author{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    text-align: end;
    padding-right: 30%;
    font-size: 12px;
  }
.imgLMDA{
  width: 8%;
  background-color: #659660;
  border-radius:  100%;
  margin-top: 75px;
  padding-left: 1%;
}
.ContainerLMDA{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.ContainerLMDA > p{
  text-align: center;
  width: 45%;
  font-family: 'Quicksand', sans-serif;
}
.ContainerLMDA > h1{
  color: #659660;
  font-family: 'Kaushan Script', cursive;
}
