.page-error-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
    .page-error-container2{
      display:block;
  
    }
  
    @media screen and (min-width: 50px) {
      .logo {
        width:200px;
        clear: both;  
      }
    }
  
    .oups{
      color: rgb(16, 48, 1);
    }
    .dinheader{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    }
    .dinheador{
      padding-left: 15%;
      padding-right: 10%;
      margin-top: 50px;
      }
    .dinheaders{
      width: 100%;
      height: 100%;
      justify-content: center;
    }
    .dinheaderset{
      width: 80%;
      height: 80%;
      justify-content: center;
    }