.Pres-Container{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pres-Back{
  width: 70%;
  background-color:#708e5a;
  padding: 2%;
}
.Pres-Title{
  font-family: 'Kaushan Script', cursive;
  color: white;
}
.Pres-Content{
  font-size: 80%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
.Pres-Banner{
  width: 100%;
}
