
.imgPresentation{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Paysage{
    width: 100%;
    height: 150px;
    filter: brightness(70%);
  }
  .textPresentation{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #FAFAFA
  }