/* -------------------------------  */

.sliderCoponent{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;


}
.sliderCoponentImg{
  height: 77px;
  width: 75px;
  margin-left: 38%;
}

/* -------------------------------  */