/* -------------------------------  */

.sliderCoponent{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 96%
}
.sliderCoponentImg{
  height: 77px;
  width: 75px;
  margin-left: 45%;
}
.sliderCo{
  display: flex;
  justify-content: center;
}
.sliderCopo{
  list-style: none;
}
.slick-arrow{
  display: none !important;
}
.slick-next{
  display: none !important;
}
/* -------------------------------  */
