.TemoiTitle{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  padding-bottom: 50px;

}
.Temoitext{
  font-family: 'Kaushan Script', cursive;
 

}

.Wit-Grandcontainer{
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  

  
}
.Wit-container{
  display: flex;
  justify-content: space-around;
  background-color: #016837;
  font-family: 'Quicksand', sans-serif;  
  align-items: center;
 padding: 10px;
  

}
.Temt{
  display: flex;
  flex: 4;
}

.Wit-app{
  padding: 2% 0px;
  display: flex;
  width: 100px; 
 height:100px;
 border-radius:100%;
 transition:  width 1s;
  
 
  }
  .Wit-app:hover{
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color:#016837;

  }
  .Container-img{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .textTemoignage{
  display:flex;
  flex-direction: column;
  justify-content: center;  
  padding: 0px 2px;
  top:10%;
 color: white;
 position: relative;
  text-align: left;
  width: 100%;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
 
  } 
  .textTemoignage p{
margin: 2px;
  } 

.Wit-text{
  font-size: 85%;
  justify-content: flex-start;
  padding: 2px;
}

.Wit-textN{
  font-size: 75%;
  justify-content: flex-start;
   font-family: 'Quicksand', sans-serif;
   padding: 2px;

}
.svg-inline--fa.fa-quote-left{
  font-size: 10px;
  color: #fafafa;
}
.svg-inline--fa.fa-quote-right{
  font-size: 10px;
  color: #fafafa;
}



@media (max-width:789px){
  
  .Wit-container{
    flex-direction: column;
    height: auto;
    font-family: 'Quicksand', sans-serif;
   

  }
  .Wit-app{
    width: 111.7px;
    height:111.7px;
    transition:  width 1s;
  }
  .textTemoignage p{
    margin: 5px;
      } 
      .Temt{
        display: flex;
        flex-direction: column;
        flex: 4;
      }
}
