.TemoiTitle{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;


}
.Temoitext{
  font-family: 'Kaushan Script', cursive;
}
.Wit-Grandcontainer{
  height: auto;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding:2% 5px;

}
.Wit-container{
  display: flex;
  justify-content: space-around;
  background-color: rgba(25, 79, 33,0.6);
  padding:1% 5px;
 
  

}
.Temt{
  display: flex;
  flex: 4;
}

.Wit-app{
  padding: 2% 0px;
  display: flex;
  width: 100px; 
 height:100px;
 border-radius:100%;
 transition:  width 1s;
  
 
  }
  .Wit-app:hover{
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #446953;

  }
  .Container-img{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .textTemoignage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  padding: 0px 2px;
  top:10%;
 color: #333333;
 position: relative;
  text-align: left;
  width: 100%;
 
  } 
  .textTemoignage p{
margin: 2px;
  } 

.Wit-text{
  font-size: 75%;
  justify-content: flex-start;
  padding: 2px;
}

.Wit-textN{
  font-size: 75%;
  justify-content: flex-start;
   font-family: 'Quicksand', sans-serif;
   padding: 2px;

}



@media (max-width:789px){
  
  .Wit-container{
    flex-direction: column;
    height: auto;
    
   

  }
  .Wit-app{
    width: 111.7px;
    height:111.7px;
    transition:  width 1s;
  }
  .textTemoignage p{
    margin: 5px;
      } 
      .Temt{
        display: flex;
        flex-direction: column;
        flex: 4;
      }
}
 @media only screen and (min-device-width : 640px) and (max-device-width : 1024px){

}
.temoiText{
  font-family: 'Kaushan Script', cursive;
}