
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.Header{
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  font-family: 'commic sans ms';
}
.Langues{
  height:30px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-family: 'Archivo Black';
}
.ListeLangues{
  background-color: rgba(39, 92, 4, 0.452);
  color: rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
}

.divLMDA{
  display: flex;
  justify-content: center;

}
.LMDA{
  width: auto;
  height: 200px;
}
.divLiens{
  display: flex;
  justify-content: space-around;

}
.Liens{
  text-decoration: none;
  color: rgba(38, 107, 3, 0.781);
    padding: 20px;
}
.divLiens :hover,
.divLiens .active{
  color: rgba(255, 255, 255, 0.856);
   background-color:rgb(16, 71, 2);
}
.Langues :hover,
.Langues .active{
  color: rgba(23, 133, 1, 0.493);
  background-color: rgb(255, 255, 255);
}
.divLiens :hover,
.divLiens .active{
  color: rgb(255, 253, 253);
  background-color: rgba(35, 83, 2, 0.644);
}

@media all and (min-width: 640px) and (max-width:1024px) {
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.Header{
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.divLMDA{
  display: flex;
  justify-content: center;
  
}
.LMDA{
  width: auto;
  height: 150px;
}

.divLiens{
  display: flex;
  justify-content: space-around;
  height: 50px;
  text-align: center;

}
.Liens{
  text-decoration: none;
 color: rgba(38, 107, 3, 0.781);
  padding: 20px;
}
.divLiens :hover,
.divLiens .active{
  color: rgb(255, 253, 253);
  background-color: rgba(35, 83, 2, 0.644);
}
}
@media all and (max-width: 640px) {
  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.LMDA{
height: 100px;
width: 100px;
}

.divLiens{
display: flex;
flex-direction: column;
text-align: center;

}
.Liens{
  text-decoration: none;
 color: rgba(38, 107, 3, 0.781);
  padding: 10px;
}

.divLiens :hover,
.divLiens .active{
  color: rgba(255, 255, 255, 0.788);
  background-color: rgba(59, 109, 26, 0.651);
}
}
