body {
  margin: 0;
  padding: 0;
  background-color: #fbfffa;
}

.Header{
  background:url(http://img4.hostingpics.net/pics/91288211o4.png);
  background-repeat:no-repeat;
  background-size:100vw 100%; 
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-family: 'commic sans ms';
}

.containerReseaux{
  display: flex;
  justify-content:flex-end;
  height: 50px;
}
.Reseaux{
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: flex-end;

}

.iconReseaux{
border-radius: 50%;
padding: 7px;
background-color:rgba(23, 133, 1, 0.493);
cursor: pointer;
 color:rgba(255, 255, 255, 0.911);
display: inline-block;
margin: 0 5px;
}

.divLMDA {
  display: flex;
  justify-content: center;
}

.LMDA {
  width: auto;
  height: 150px;
}

.divLiens {
  display: flex;
  justify-content: space-around;
}

.Liens {
  text-decoration: none;
  color: rgba(38, 107, 3, 0.781);
  padding: 20px;
}

.divLiens :hover,
.divLiens .active {
  color: rgba(255, 255, 255, 0.856);
  background-color: rgb(16, 71, 2);
}

.Langues :hover,
.Langues .active {
  color: rgba(23, 133, 1, 0.493);
  background-color: rgb(255, 255, 255);
}

.divLiens :hover,
.divLiens .active {
  color: rgb(255, 253, 253);
  background-color: rgba(35, 83, 2, 0.644);
}
.Reseaux :hover{
  color :rgba(13, 71, 3, 0.973);
  background-color: #fffafa;
}


@media all and (min-width: 640px) and (max-width:1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .Header {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .divLMDA {
    display: flex;
    justify-content: center;
  }
  .LMDA {
    width: auto;
    height: 150px;
  }
  .divLiens {
    display: flex;
    justify-content: space-around;
    height: 50px;
    text-align: center;
  }
  .Liens {
    text-decoration: none;
    color: rgba(38, 107, 3, 0.781);
    padding: 20px;
  }
  .divLiens :hover,
  .divLiens .active {
    color: rgb(255, 253, 253);
    background-color: rgba(35, 83, 2, 0.644);
  }
}

@media all and (max-width: 640px) {
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .LMDA {
    height: 100px;
    width: 100px;
  }
  .divLiens {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .Liens {
    text-decoration: none;
    color: rgba(38, 107, 3, 0.781);
    padding: 10px;
  }
  .divLiens :hover,
  .divLiens .active {
    color: rgba(255, 255, 255, 0.788);
    background-color: rgba(59, 109, 26, 0.651);
  }
}

/*===================================GOGO==========================================*/

/*Zone de texte*/

.TextLoremH {
  background-color: #659660;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin: 23px;
  padding: 1%;
  height: auto;
  border-radius: 3px;
  color: white;
}

.ImageNature {
  width: 92%;
  padding-top: 1%;
  padding-left: 4%;
}

.Imageuh {
  width: 100%;
  height: 150px;
  filter: brightness(80%);
}

.TextAlignCenter {
  text-align: center;
  font-size: 2.5em;
  text-decoration: underline;
  font-family: 'Quicksand', sans-serif;
}

#Cards-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
  color: black;
  -webkit-z-index: 1;
  z-index: 1;
  padding: 0;
}

#croix {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-z-index: 5;
  z-index: 5;
  width: 20px;
  height: 20px;
}

#croix:hover {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-z-index: 5;
  z-index: 5;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.creatorspp {
  width: 21vw;
  height: 21vw;
}

.creatorpp {
  width: 380px;
}

.Cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid #e8e8e8;
  background-color: #fcfcfc;
  overflow: hidden;
  transition: linear 0.2s;
  border-radius: 3px;
}

.Cards:hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  background-color: white;
  opacity: 0.6;
  overflow: hidden;
  margin-top: -6px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
}

#modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  -webkit-display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-z-index: 2;
  z-index: 2;
  background-color: rgba(0, 0, 0, .75);
  top: 0;
}

#creatorprofile {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-z-index: 4;
  z-index: 4;
  /*border: 1px solid #e8e8e8;*/
  background-color: #fcfcfc;
  overflow: hidden;
  flex-wrap: wrap;
  border-radius: 3px;
  width: calc(380*2);
}

#creatorinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 0 10px;
  height: 360px;
}

#creatorinfo h1 {
  width: 380px;
  font-family: helvetica;
  text-align: center;
}

#creatorinfo p {
  width: 360px;
  text-align: center;
}

@media all and (max-width: 640px) {
  #Cards-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  #croix {
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-z-index: 5;
    z-index: 5;
    width: 20px;
    height: 20px;
  }
  #croix:hover {
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-z-index: 5;
    z-index: 5;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .creatorspp {
    width: 50vw;
    height: 50vw;
  }
  .creatorpp {
    width: 380px;
  }
  .Cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    overflow: hidden;
    transition: linear 0.2s;
    border-radius: 3px;
  }
  .Cards:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    background-color: white;
    opacity: 0.6;
    overflow: hidden;
    margin-top: -6px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
  }
  #modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-z-index: 2;
    z-index: 2;
    top: 0;
  }
  #creatorprofile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-z-index: 4;
    z-index: 4;
    -webkit-z-index: 4;
    /*border: 1px solid #e8e8e8;*/
    background-color: #fcfcfc;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 3px;
    width: 70vw;
    height: auto;
  }
  #creatorprofile img {
    width: 100%;
  }
  #creatorinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 0px;
    height: auto;
    width: 100%;
  }
  #creatorinfo h1 {
    width: 100%;
    font-family: helvetica;
    text-align: center;
    margin: 10px 0px;
  }
  #creatorinfo p {
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media all and (min-width: 641px) and (max-width: 1024px) {
  #Cards-container {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
    color: black;
    -webkit-z-index: 1;
    z-index: 1;
  }
  #croix {
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-z-index: 5;
    z-index: 5;
    width: 20px;
    height: 20px;
  }
  #croix:hover {
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-z-index: 5;
    z-index: 5;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .creatorspp {
    width: 31vw;
    height: 31vw;
  }
  .creatorpp {
    width: 319px;
  }
  .Cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    overflow: hidden;
    transition: linear 0.2s;
    border-radius: 3px;
  }
  .Cards:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    background-color: white;
    opacity: 0.6;
    overflow: hidden;
    margin-top: -6px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
  }
  #modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    -webkit-display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-z-index: 2;
    z-index: 2;
    background-color: rgba(0, 0, 0, .75);
    top: 0;
  }
  #creatorprofile {
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-z-index: 4;
    z-index: 4;
    /*border: 1px solid #e8e8e8;*/
    background-color: #fcfcfc;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 3px;
    width: calc(319+299);
  }
  #creatorinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 0 10px;
    height: auto;
    width: 299px;
  }
  #creatorinfo h1 {
    width: 299px;
    font-family: helvetica;
    text-align: center;
  }
  #creatorinfo p {
    width: 299px;
    text-align: center;
  }
}